<% layout('../layout.ejs') -%>

<% stylesheet('/css/admin.css') -%>

<% script('/js/jquery.maskedinput.js') -%>
<% script('/js/checker.js') -%>
<% script('/js/adminWorker.js') -%>

<div class="admin-color-container">
  <div class="container admin-container" method="post" >
    <h1>Изменение данных администратора</h1>

    <% flash.get('success').forEach(function (message) { %>
    <div class="alert alert-success alert-dismissable">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Успех!</strong> <%= message %>
    </div>
    <% }) %>

    <form action="/admin" method="post" >

      <div class="form-group">
        <label for="email">Почта:</label>
        <input onkeyup="keyCheckMail()" type="email" name="mail" placeholder="apr@mail.ru" class="form-control" id="email" value="<%= info.mail %>">
      </div>

      <div class="form-group">
        <label for="tel">Телефон:</label>
        <input onkeyup="keyCheckTel()" type="tel" placeholder="+7 (903) 564-80-67" name="telephone" class="form-control" id="tel" value="<%= info.telephone %>">
      </div>

      <div class="form-group">
        <label for="fullName">Полное имя:</label>
        <input onkeyup="keyCheckFullName()" type="text" name="fullName" placeholder="Аникин Андрей Сергеевич" class="form-control" id="fullName" value="<%= info.fullName %>">
      </div>


      <input id="inputSubmit" type="submit" value="Изменить" class="btn btn-default">
    </form>
  </div>
</div>
