<% layout('../layout.ejs') -%>
<% stylesheet('css/main-index.css') -%>
<div class="image-container">
  <div class="image-element">
    <h1>ГИС инженерных коммуникаций г. Дубны</h1>
  </div>
</div>
<div class="about-container">
  <div class="container">
    <h1>
      О проекте
    </h1>
    <div class="wrapper">
      <div class="wrap-elements">
        <p>
          Проект «ГИС инженерных коммуникаций г. Дубны» (ГИС ИК) создан по инициативе Администрации города Дубны и организаций эксплуатирующих инженерные сети города. Реализация проекта поручена Университету «Дубна» при поддержке специалистов ООО «Риэл Гео Проджект» (ГК «НЕОЛАНТ») – разработчиков ГИС «ДУБНА».
        </p>
      </div>
      <div class="wrap-elements">
        <p>
          Создание ГИС ИК продиктовано необходимостью повышения эффективности управления инженерными сетями города и оперативного решения вопросов, связанных с их эксплуатацией.
        </p>
        <p>
          ГИС ИК ведет оперативный учет инженерных коммуникаций г. Дубны, в целях информационного обеспечения процесса принятия решения по согласованию земляных работ и контроля коллизий в различных проектных решениях.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="what-we-do-container">
  <div class="container">
    <div class="wrapper">
      <div class="wrap-elements">
        <h1>
          В базе данных ГИС собрана следующая информация:
        </h1>
        <ul>
          <li>
            <p>
              «Твердые» контуры (дороги, здания, гидрография и т.п.);
            </p>
          </li>
          <li>
            <p>
              Растровые подложки;
            </p>
          </li>
          <li>
            <p>
              Данные о сетевых инженерных коммуникациях эксплуатирующих организаций.
            </p>
          </li>
        </ul>

      </div>
      <div class="wrap-elements">
        <h1>
          ГИС решает задачи:
        </h1>
        <ul>
          <li>
            <p>Оцифровка и хранение данных о твердых контурах;</p>
          </li>
          <li>
            <p>Занесение, накопление и обмен данными о сетевых инженерных коммуникациях эксплуатирующих организаций;</p>
          </li>
          <li>
            <p>Предоставление всем зарегестрированным сторонам информации, содержащейся в базе данных, в виде электронных карт.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
