.admin-container {
	max-width: 500px !important;

}

.attention {
	background-color: #ffaaaa;
}

.admin-color-container{
  background-color: #fdf0d5;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.site-content{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
}
